@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Not Found";
}

<h1 class="classic-title">Oops.</h1>
<h2 class="text-danger margin-btm-md">We couldn't find the page you were looking for!</h2>

