/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt
{
    white-space: normal;
}

body
{
    padding-top: 100px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
{
    /*background-color:lightblue !important;*/
    max-width: 280px;
}

.tweetline
{
    background: url(http://mymaplist.com/img/parallax/pinlayer2.png), url(http://mymaplist.com/img/parallax/pinlayer1.png), url(http://mymaplist.com/img/parallax/back.png);
}
.display-label{
}
.display-field{
    /*font-size:15px;
    font-weight:500;*/
    font-weight:bold;
}
         
.heading{
    font-size:30px;
    font-weight:bold;
}
.vertical-offset-20
{
    padding-top: 100px;
}
.container-fluid
{
    padding: 0;
} 
.pac-container
{
    z-index: 10000 !important;
}

.border-shadow
{
    box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
}
.padding-right
{
    padding-right: 10px;
}
.padding-left-sm{
    padding-left:10px;
}

.margin-btm-md
{
    margin-bottom: 20px;
}
.margin-left-md
{
    margin-left: 50px;
}

.widget-search
{
    margin-top: 20px;
    width: 250px;
    z-index: 123;
}
.widget-search.small-margin
{
    margin-top: 15px;
}

.page-header
{
    text-align: center; 
}

/*social buttons*/
.btn-social
{
    color: white;
    opacity: 0.9;
}
.btn-social:hover
{
    color: white;
    opacity: 1;
}
.btn-facebook
{
    background-color: #3b5998;
    opacity: 0.9;
}

@media (max-width: 992px)
{
    .resume-heading .social-btn-holder
    {
        padding: 5px;
    }
}
