@model IEnumerable<RoofSharing.Web.ViewModels.Trip.PublicTripUserCardViewModel>

@{
    ViewBag.Title = "Browse Public Trips";
}

<h2 class="classic-title">Browse Public Trips</h2>
<div class="row">
    <div class="col-md-8">
        @foreach (var user in Model)
        {
            Html.RenderPartial("_PublicTripUserCardPartial", user);
        }
    </div>
    <div class=" col-md-3 border-shadow margin-left-md">
        <h2 class="classic-title">Or plan your own trip</h2>
        @Html.ActionLink("Plan Public Trip", "Create", "Trips", null, new { @class = "btn btn-danger" })
    </div>
</div>

<div class="row margin-btm-md">
    @for (int i = 1; i <= ViewBag.Pages; i++)
    {
            @Html.ActionLink(i.ToString(), "Browse", "Trips", new { page = i }, new { @class = "btn btn-danger" })
    }
</div>