@model IEnumerable<RoofSharing.Web.ViewModels.Trip.PublicTripUserCardViewModel>

@{
    ViewBag.Title = "Browse Public Trips";
}

<h2 class="classic-title">Browse Public Trips @ViewBag.Pages</h2>
<div class="row">
    @foreach (var user in Model)
    {
        Html.RenderPartial("_PublicTripUserCardPartial", user);
    }
</div>

<div class="row margin-btm-md">
    @for (int i = 1; i <= ViewBag.Pages; i++)
    {
            @Html.ActionLink(i.ToString(), "Browse", "Trips", new { page = i }, new { @class = "btn btn-danger" })
    }
</div>