@model RoofSharing.Web.ViewModels.Trip.TripMatchViewModel


@Html.HiddenFor(x => x.City)

@{
    foreach (var userId in Model.Ids)
    {
        @:<div class="well">
            Html.RenderAction("ProfileSummary", "Profile", new { userId = userId });
        @:</div>
    }

}
