@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<img src="@ViewBag.pic" alt="" width="300" />
<div class="row">
    <form method="post">
        <input id="searchTextField" type="text" size="50">
        <input type="submit" value="send" />
    </form>
</div>
@section Scripts{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script>
        $(function () {
            var input = document.getElementById('searchTextField');
            var options = {
                types: ['(cities)']
            };
            var autocomplete = new google.maps.places.Autocomplete(input, options);

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var place = autocomplete.getPlace();
                $('#info').html(place.adr_address);
            });
        })
        
    </script>
}