@using RoofSharing.Web.Infrastructure.Helpers

@model Object
@{
    
    foreach (var property in DisplayForModelHelpers.GetPropertiesToDisplay(ViewData))
    {
            <div class="row">
                <div class="col-md-4 text-center " >
                    @property.GetDisplayName()
                </div>
                @{
                    <div class="col-md-4 text-center display-field">
                        @Html.Display(property.PropertyName)
                    </div>

                }
            </div>
    }

}

