@model RoofSharing.Web.ViewModels.Profile.LocationViewModel

<div>
    <h2 class="classic-title">Location Information</h2>
    <div class="row">
        @Html.DisplayForModel("GenericBootstrapDisplayTemplate")
    </div>
</div>