@model RoofSharing.Web.ViewModels.Profile.PersonalityViewModel

<div>
    <h2 class="classic-title">Personality Information</h2>
    <div class="row">
        @Html.DisplayForModel("ObjectTemplate")
    </div>
</div>