@using RoofSharing.Web.Infrastructure.Extensions

@model RoofSharing.Web.ViewModels.Profile.ProfileInfoModel

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="resume">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div class="panel panel-default">
                    @{
                       
                            Html.RenderAction("ProfileSummary", "Profile", new { userId = Model.Id });
                            
                        if (Model.FullProfileAllowed)
                        {
                            
                            @:<div class="bs-callout bs-callout-danger">
    
                                Html.RenderAction("HousingProfile", "Profile", new { userId = Model.Id });
                                
                                @:</div>
                            @:<div class="bs-callout bs-callout-danger">
                            
                            Html.RenderAction("LocationProfile", "Profile", new { userId = Model.Id });
                        
                                @:</div>
    
                            @:<div class="bs-callout bs-callout-danger">
    
                            Html.RenderAction("PersonalityProfile", "Profile", new { userId = Model.Id });
                                @:</div>
                        }
                    }
                </div>

            </div>
        </div>

    </div>

</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryajax")
}