@using RoofSharing.Web.Infrastructure.Extensions

@model string

@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div class="resume">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                <div class="panel panel-default">
                    @{
                        Html.RenderAction("ProfileSummary", "Profile", new { userId = Model });
                    }
                    <div class="bs-callout bs-callout-danger">
                        @{
                            Html.RenderAction("HousingProfile", "Housing", new { userId = Model });
                        }
                    </div>
                    <div class="bs-callout bs-callout-danger">
                        @{
                            Html.RenderAction("LocationProfile", "Location", new { userId = Model });
                        }
                    </div>

                    <div class="bs-callout bs-callout-danger">
                        @{
                            Html.RenderAction("PersonalityProfile", "Personality", new { userId = Model });
                        }
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
